.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 75px;
    margin-bottom: 100px;
}

.navbarItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbarImageContainer {
    display: flex;
    align-items: center;
}

.navbarImage img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left:10px;
}

.navbarHeading h2 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.navbarLink {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
        padding: 20px;
        height: auto;
        margin-bottom: 50px;
    }

    .navbarImage img {
        width: 50px;
        height: 50px;
    }

    .navbarHeading h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .navbarItems {
        flex-direction: column; 
        width: 100%; 
        align-items: center; 
    }

    .navbarLink {
        margin: 15px 0 0;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 15px;
    }

    .navbarImage img {
        width: 40px;
        height: 40px;
    }

    .navbarHeading h2 {
        font-size: 1rem;
        text-align: center;
    }

    .navbarItems {
        width: 100%; 
        align-items: center;
    }

    .navbarLink {
        margin: 10px 0 0;
        text-align: center;
        width: 100%; 
    }
}
